{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "14" } }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-transform-runtime", { "regenerator": true }]
  ]
}
